# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

Thumbs.db

# ignore jenkins build info
/build.prop

# package-lock.json
package-lock.json

# ignore node_modules created by grunt, but not more deeply-nested node_modules
/node_modules
/npm-debug.log

# ignore node_modules inside src
/src/node_modules

# ignore files copied from node_modules to src/thirdparty
/src/thirdparty/CodeMirror
/src/thirdparty/less.min.js
/src/thirdparty/preact
/src/thirdparty/preact-compat
/src/thirdparty/preact-test-utils
/src/thirdparty/simulate-event
/src/thirdparty/xtend
/src/thirdparty/acorn

# ignore compiled files
/dist
/src/.index.html
/src/styles/brackets.min.css
/src/styles/brackets.min.css.map

# ignore everything in the dev extension directory EXCEPT the README
# (so that the directory is non-empty and can be in git)
/src/extensions/dev/*
!/src/extensions/dev/README.*
/src/extensions/default/brackets-eslint

/src/extensions/disabled

# ignore .disabled file for default extensions
/src/extensions/default/*/.disabled

# generate through grunt
/src/config.json

#OSX .DS_Store files
.DS_Store

# unit test working directory
/test/results
/test/temp

# Netbeans
/nbproject

# PhpStorm
.idea

# Files that can be automatically downloaded that we don't want to ship with our builds
/src/extensibility/node/node_modules/request/tests/

# Files build by scripts
/src/thirdparty/semver.browser.js
